@{
    ViewData["title"] = "Bilheteria";
}
<br />
<!-- ======= Pricing Section ======= -->
<div class="section-title">
    <h2>Bilheteria</h2>
    <h3>Reserve aqui o seu <span>Bilhete de Entrada</span></h3>
    <p>Faça sua reserva e entre no estádio sem pressa.</p>
</div>
<section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Nossos Preços</h2>
            <p>Cada bilhete é válido para um jogo apenas..</p>
        </div>

        <div class="row gy-4">

            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="pricing-item">

                    <div class="pricing-header">
                        <h3>VIP I</h3>
                        <h4><sup>Preço</sup>1.500,00<span> kz</span></h4>
                    </div>

                    <br />
                    <div class="text-center mt-auto">
                        <a href="#" role="button" class="buy-btn p-10 d-block">Reservar</a>
                    </div>

                </div>
            </div><!-- End Pricing Item -->

            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="400">
                <div class="pricing-item featured">

                    <div class="pricing-header">
                        <h3>Normal</h3>
                        <h4><sup>Preço</sup>500,00<span> kz</span></h4>
                    </div>

                    <div class="text-center mt-auto">
                        <a href="#" role="button" class="buy-btn p-10 d-block">Reservar</a>
                    </div>

                </div>
            </div><!-- End Pricing Item -->

            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="600">
                <div class="pricing-item">

                    <div class="pricing-header">
                        <h3>VIP 2</h3>
                        <h4><sup>Preço</sup>3.500,00<span> kz</span></h4>
                    </div>

                    <div class="text-center mt-auto">
                        <a href="#" role="button" class="buy-btn p-10 d-block">Reservar</a>
                    </div>

                </div>
            </div><!-- End Pricing Item -->

        </div>

    </div>
</section><!-- End Pricing Section -->