@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Loja & Bilheteria";
}
<br />
<!-- ======= Pricing Section ======= -->
<div class="section-title">
    <h2>Loja do Maquis</h2>
    <h3>Aqui você pode adquirir <span>Nossos Productos</span>, desde Uniformes, Bolas, Bilhetes e mais</h3>

</div>
