@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Página Indisponivel";
}
<br />
<div class="section-title">
    <h2>Informção</h2>
    <h3>Olá! <span>Lamentamos Informar, a página encontra-se temporariamente indisponivel.</span></h3>
    <p>Porfavor, tente acessar em outro momento!</p>
</div>
